<section class="pb-10 pt-20 md:pb-12 md:pt-24">
  <h1 class="text-5xl font-semibold tracking-tight text-white md:text-6xl">Let&apos;s Connect</h1>
  <p class="mt-6 max-w-4xl text-xl leading-relaxed text-slate-400 md:text-2xl">
    Whether you have a question or just want to
    say hi, I&apos;ll try my best to get back to you!
  </p>
</section>
